.work{
    margin: 50px 0px;
    margin-left: 140px;
    padding: 40px 0px;
    /* padding-left: 130px; */
    background-color: aliceblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.work hr{
    width: 400px;
    color: #138781;
    margin: 10px auto;
    padding-bottom: 20px;
}
.work h2{
    font-weight: bold;
    color: #00ADB5;
    font-family: cursive;
}

/* ======= DARK MODE STYLE ======= */

#dark .work{
    background-color: #393E46;
}

/* ==== Mobile Design ==== */

@media (max-width: 600px) {
    .work{
        padding: 0;
        margin: 0;
        padding-top:  20px;
    }
    .work hr{
        padding-bottom: 20px;
        width: 200px;
    }
}

