.contact{
    margin-left: 130px;
    margin-bottom: 50px;
    padding-top: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card1 .image{
    padding: 30px;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.card2{
    margin: 0px 40px;
}

.line{
    height: 1px;
    width: 45%;
    background-color: rgb(226, 240, 252);
    margin-top: 10px;
}

.border-line{
    border-right: 1px solid rgb(208, 231, 251);
}

.or{
    display: flex;
    width: 10%;
    font-weight: bold;
}

::placeholder{
    color: gray;
    opacity: 1;
    font-weight: 400;
}

input, textarea{
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1px;
}

input:focus, textarea:focus{
    box-shadow: none;
    outline: 1px solid black;
    outline-width: none;
}

.button{
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}
.button:hover{
    background-color: white;
    color: deeppink;
    border: 2px solid deeppink;
    font-weight: 700px;
    font-size: 18px;
}

/* ==== Mobile Design ==== */
@media (max-width: 600px){
    .contact{
        margin: 0;
        padding: 0;
    }
    .contact .card2{
        margin: 0;
        padding: 0;
    }
    .contact .card2 h6{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}